.Dashboard {
	.Account, .Balance {
		flex: 1 1 0;

		button {
			white-space: nowrap;
		}
	}

	.Balance {
		position: relative;
		height: 33vh;
		min-width: 50%;

		span {
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
		}

		button, .Spinner {
			position: relative;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		.Toggle {
			position: absolute;
			top: unset;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
		}

		.BalanceValue {
			position: relative;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			&::after {
				content: "REV";
				position: absolute;
				color: #626171;
				left: calc(100% + 0.5ch);
				bottom: 0;
				font-size: 80%;
			}
		}
	}

	.Account {
		.Toggle {
			display: inline-flex;
			vertical-align: sub;
			background: #0008;
		}

		.PrivateKey {
			max-width: 20ch;
			min-width: 20ch;
			word-break: break-all;
			text-align: center;
			color: #626171;

			&.Expanded {
				color: white;
			}
		}
	}
}
