.Sidenav {
  grid-area: sidenav;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  background: #0c0a27;
  overflow: hidden;
  width: 30ch;
  max-width: 100vw;
  transform: translateX(0);
  transition: transform 0.2s;

  .CloseButton { display: none }

  @media only screen and (max-width: 900px) {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);

  .CloseButton {
    display: flex;
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.5em;
    height: 1.5em;
    img {
      width: 100%;
    }
  }

    &.Expanded {
      transform: translateX(0);
      width: 30ch;
    }
  }

  z-index: 1000;

  .Logo {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
    }
  }

  .Links {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    a {
      font-size: 16px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: 100%;
      padding: 1em 0.5em;
      border-right: 2px solid transparent;
      box-sizing: border-box;

      &.Current {
        border-right: 2px solid #cc1e46;
        background: #090721;
      }

      img {
        &.Spacer {
          opacity: 0;
        }

        height: 80%;
        width: auto;
        padding: 0 1em;
      }
    }
  }

  .NodeSelect {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;

    label {
      display: flex;
      flex-flow: column nowrap;
      max-width: 100%;
    }
  }
}
