.Navigation {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  padding-right: 120px;
  z-index: 10000;
  height: 135px;
  background: transparent;
  transition: height 0.2s linear, background 0.2s;

  select {
    position: absolute;
    bottom: 0;
    right: 158px;
    max-width: calc(100vw - 316px);
    transition: bottom 0.2s, transform 0.2s, right 0.2s, max-width 0.2s, opacity 0.2s;

    @media only screen and (max-width: 900px) {
      right: 38px;
    }

    @media only screen and (max-width: 600px) {
      right: 90px;
      bottom: 50%;
      transform: translateY(50%);
      max-width: calc(100vw - 200px);
    }
  }

  &.Expanded {
    select {
      opacity: 0;
    }
  }
}

.Navigation .NavigationBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 135px;
}

@media only screen and (max-width: 900px) {
  .Navigation {
    padding-right: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .Navigation.Expanded {
    padding-right: 0px;
    height: 100vh;
    background: #131033;

    ~ .Landing, ~ .Restore, ~ .Card {
      margin-top: -100vh;
      height: calc(100vh - 135px);
      overflow: hidden;
      opacity: 0;

      &::after {
        opacity: 0;
      }
    }
  }

  .Navigation ~ .Landing, .Navigation ~ .Restore {
    margin-top: -135px;
    top: 135px;
    transition: margin-top 0.2s linear, opacity 0.2s;
  }
}

.Navigation .NavigationBar > a {
  height: 61px;
}

.Navigation a img {
  height: 100%;
}

.Navigation a img.Small, .Navigation a img.Large {
  margin-left: 5vw;
}

.Navigation a img.Small {
  display: none;
}

@media only screen and (max-width: 900px) {
  .Navigation a img.Large {
    display: none;
  }

  .Navigation a img.Small {
    display: block;
  }
}

.Navigation .Links {
  display: flex;
  flex-flow: row nowrap;
}

.Navigation .MenuButton, .Navigation .Menu {
  display: none;
}

@media only screen and (max-width: 600px) {
  .Navigation .Links {
    display: none;
  }

  .Navigation .MenuButton {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 38px;
    height: 100%;
    width: 44px;
    cursor: pointer;
  }

  .Navigation .Menu {
    display: flex;
    flex-flow: row nowrap;
  }

  .Navigation .Menu {
    display: flex;
    flex-flow: column nowrap;
    height: calc(100vh - 270px);
    justify-content: center;
    align-items: center;
  }

  .Navigation .Menu a {
    font-family: Montserrat;
    font-size: calc(30px + 1vh);
    line-height: 1.53;
    text-align: center;
    text-decoration: none;
    color: white;
  }

  .Navigation .Menu a:not(:last-child) {
    margin-bottom: 25px;
  }

  .Navigation .Menu a:hover {
    color: #cc1e46;
  }
}

.Navigation .Links a {
  margin-right: 39px;
  transition: color 0.1s;
}

.Navigation .Links a:hover {
  color: #cc1e46;
}

.Navigation .Links a:last-child {
  margin-right: 45px;
}
