.Navigation {
  grid-area: navbar;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  height: 135px0;
  background: transparent;
  transition: height 0.2s linear, background 0.2s;

  .SidebarContainer ~ & {
    padding-right: 120px;
    @media only screen and (max-width: 900px) {
      padding-right: 0;
    }
  }

  .NavigationBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 135px;
    padding: 0 5vw;

    .Logo { height: 61px; }
    a img { height: 100%; }
  }

  .SidenavToggle {
    opacity: 0;
    pointer-events: none;
    filter: saturate(0) brightness(100);
  }

  .Links {
    display: flex;
    flex-flow: row nowrap;
    min-width: 2em;

    a {
      margin-right: 39px;
      transition: color 0.1s;
    }

    a:hover {
      color: #cc1e46;
    }

    a:last-child {
      margin-right: 0;
    }
  }

  .MenuButton, .Menu {
    display: none;
  }

  .Logo .Small { display: none; }

  &.Wallet {
    .Logo .Large { display: none; }
    .Logo .Small { display: none; }
  }

  @media only screen and (max-width: 900px) {
    .Logo .Large { display: none; }
    .Logo .Small { display: block; }

    &.Wallet {
      .Logo .Large { display: none; }
      .Logo .Small { display: block; }
    }

    .SidenavToggle {
      opacity: 1;
      pointer-events: all;
    }

    padding-right: 0;
  }

  @media only screen and (max-width: 600px) {
    .Links { display: none }

    .MenuButton {
      display: flex;
      height: 100%;
      width: 44px;
      cursor: pointer;
    }

    .Menu {
      display: flex;
      height: calc(100vh - 270px);

      a {
        font-family: Montserrat;
        font-size: calc(30px + 1vh);
        line-height: 1.53;
        text-align: center;
        text-decoration: none;
        color: white;

        &:hover {
          color: #cc1e46;
        }

        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }
    }

    &.Expanded {
      padding-right: 0px;
      height: 100vh;
      background: #131033;

      ~ .Landing, ~ .Restore, ~ .Card {
        position: absolute;
        height: calc(100vh - 135px);
        top: 135px;
        overflow: clip;
        opacity: 0;

        &::after {
          opacity: 0;
        }
      }
    }

    ~ .Landing, ~ .Restore, ~ .Card {
      transition: opacity 0.2s;
    }
  }
}

