.Landing {
  position: relative;
  overflow: clip;

  &::after {
    content: "";
    display: block;
    position: absolute;

    left: -100vw;
    bottom: -6vw;
    width: 200vw;
    height: 50vh;

    background-image: url("../../assets/bg-tex.svg");
    background-position: 0% 100%;
    background-size: 15px auto;
    background-repeat: repeat-x repeat-y;
    z-index: -200;
  }

  h1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 5vw;
  }

  h3, h4 {
    max-width: 50vw;
    margin: 0 auto;
  }

  .Art {
    position: absolute;
    z-index: -100;
    width: 100%;
    height: calc(100vh - 270px);
    top: 0;
    left: 0;
    display: flex;

    svg {
      position: absolute;
      height: 55vmax;
      max-height: 75vh;
      width: auto;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      path {
        transition: fill 1s, filter 1s;
      }
    }
  }

  .AboveFold {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: calc(100vh - 270px);
    text-align: center;

    padding: 0 120px;
    @media only screen and (max-width: 900px) {
      padding: 0;
      padding-bottom: 135px;
    }

    padding-bottom: 135px;
  }

  .CardList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 2vw;

    @media only screen and (max-width: 900px) {
      grid-template-columns: 1fr;
    }

    .Card {
      display: flex;
      flex-flow: column;
      border-radius: 3px;
      border: solid 2px #8b0430;
      align-items: center;
      padding: 6vmin 8vmin;
      margin-right: -1.5px;
      margin-bottom: -1.5px;

      *:not(:last-child) {
        margin-bottom: 4vmin;
        margin-top: 0;
      }

      .Dynamic {
        display: flex;
        flex: 1 1 0;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
      }

      img {
        height: max(calc(1.85 * 1vw + 63px), 70px);
      }

      @media only screen and (max-width: 900px) {
        margin-right: 0px;
        margin-bottom: -1.5px;
      }
    }
  }

  .Expander {
    margin: 0.5vw 4vw;

    @media only screen and (max-width: 900px) {
      margin: 0.5vw 0vw;
    }
  }

  .Footer {
    display: flex;
    overflow: hidden;

    background: #0c0a27;
    margin-top: 5vw;

    @media only screen and (max-width: 900px) {
      flex-flow: column nowrap;
      align-items: center;
      height: auto;
      left: 0;
      right: 0;
    }

    .Logo {
      position: relative;
      flex: 0 0 auto;
      width: 30vw;
      background: #8b0430;

      img {
        position: absolute;
        object-fit: contain;
        width: 50%;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media only screen and (max-width: 900px) {
          max-width: 100%;
          max-height: 50%;
        }
      }

      @media only screen and (max-width: 900px) {
        width: 100%;
        height: 25vw;
      }
    }

    .LinksList {
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
      padding: 6vw;

      @media only screen and (max-width: 900px) {
        flex-flow: column nowrap;
        align-items: flex-start;
      }

      figure {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;

        flex: 1 1 auto;
        max-width: 35ch;
        margin: 0;

        figcaption {
          flex: 0 0 auto;

          h4 {
            margin: 0;
            max-width: auto;
            text-align: left;
          }
        }

        .Content {
          flex: 1 1 0;

          img {
            max-width: 20ch;
            width: 75%;
            height: 75%;
          }

          p {
            text-align: justify;

            &.Key {
              word-break: break-all;
              max-width: 25ch;
            }
          }
        }

        &:not(:last-child) {
          margin-right: 6vw;
        }

        ul {
          list-style: none;
          padding: 0;
        }

        li a, p {
          font-size: 12px;
        }

        @media only screen and (max-width: 900px) {
          margin: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
}
